<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>384569738143-jsigigk8pv3u4anqs1acoh5mv8j4ib6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384569738143-jsigigk8pv3u4anqs1acoh5mv8j4ib6o</string>
	<key>API_KEY</key>
	<string>AIzaSyA6tqqZ4L1RzjxYm8uYFUkb-petB0amKeI</string>
	<key>GCM_SENDER_ID</key>
	<string>384569738143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MalikHGP.Collabs</string>
	<key>PROJECT_ID</key>
	<string>malikhgpcollabs</string>
	<key>STORAGE_BUCKET</key>
	<string>malikhgpcollabs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384569738143:ios:9b3edf2fc3639ac5</string>
	<key>DATABASE_URL</key>
	<string>https://malikhgpcollabs.firebaseio.com</string>
</dict>
</plist>