<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.external-accessory.wireless-configuration</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.CY-F2F6E86E-2D8E-11E8-B71D-7C04D0C02778.com.cydia.Extender</string>
	</array>
	<key>inter-app-audio</key>
	<true/>
</dict>
</plist>
